/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family:Garamond;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#eeeeee
}
table.content{
    background-color:#ddddff;
    padding:15px;
    border-radius:10px;
}
body p {
    font-size:16px;
}
td h4 {
    margin-left:10px;
}
td p {
    font-size:16px;
    margin-left:10px;
}
#dope {
    position:relative;
    margin-top:10px;
    margin-left:50px;
    float:left;
    cursor:pointer;
}
#header {
    background-color:#ddddff
}
#home {
    height:850px;
    width:78%;
    float:left;
    border-radius:5px;
    position:relative;
    margin:55px 2px 2px 2px;
}
#projects {
    height:100%;
    width:78%;
    float:left;
    border-radius:5px;
    position:relative;
    margin:55px 2px 2px 2px;
}
.left {
    position:relative;
    height:850px;
    width:200px;
    float:left;
    border-radius:5px;
    margin:55px 2px 2px 2px;
}
.left p {
    font-size:15px;
    color:#000000;
}
.left ul li {
    cursor:pointer;
    font-size:15px;
}
td p {
    valign:top;
}
#contact {
    position:relative;
    list-style-type: none;
    color:#333333;
    float:right;
    margin:5px 30px;
}
#header {
    height:50px;
    width:99%;
    margin:auto;
    border: 1px solid #cccccc;
    border-radius:5px;
    position:fixed;
    /* float:top; */
    z-index:1;
}
#mail {
    text-decoration:none;
}
#selfie {
    border-radius:150px;
    margin-top:10px;
    /* float:right; */
    position:relative;
}
#projects td img {
    width: 70%;
}
#projects a {
    color:black;
}
#footer {
    position:relative;
    height:50px;
    width:100%;
    clear:both;
    border-radius:5px;
    margin:2px;
}
#pics {
    display:inline-block;
    color:#cccccc;
}
#pics a {
    margin-left:3px;
}
#text {
    float:left;
    margin:10px 0 0 165px;
    font-size:20px;
    color:#cccccc;
}
.hello {
    background-color: #008800;
    width:20px;
    height:10px;
}
.social {
    width:40px;
    height:40px;
}
.edu {
    height:30px;
    margin-left:3px;
}